Django
djangorestframework
django-cors-headers
djangorestframework-simplejwt
django-filter
PyJWT
pytz
sqlparse
pandas
django-extensions
requests


# For testing
coverage

# for postgres and django
psycopg2

# ImageField
Pillow

# For caching/broker
redis
django-redis

# Tasks
celery
django_celery_beat

# For gtfs
gtfs-realtime-bindings
gtfs_kit





