.container {
    display: flex;
    min-width: 300px;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    overflow: hidden;
  }
  
  .image-button {
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    flex-shrink: 0;
    flex-grow: 0;
    overflow: hidden;
    margin: 10px; 
    cursor: pointer;
    background-color: white;
    border: none;
    padding: 0;
    
    &:hover,
    &:focus-visible {
      z-index: 1;
    }
  
    &:hover .image-backdrop {
      opacity: 0;
    }
  
  }
  
  .image-src {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50%;
  }

  .image-button:nth-of-type(2) .image-src {
    transform: scale(1.2) translateY(5px); 

  }
  .image-button:nth-of-type(3) .image-src {
    margin-top: -10px; 

  }
  
  
  .image-backdrop {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: black; 
    opacity: 0.4;
    transition: opacity 0.3s;
  }
  

  .typography {
    position: relative;
    padding: 16px; 
    padding-top: 8px; 
    padding-bottom: calc(8px + 6px); 
    text-align: center;
    font-size: 1rem; 
    font-weight: 500;
  }
  