body {
  margin: 0;
  font-family: Arial, sans-serif;
}


.home-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.app-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.digital-clock {
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.tram-bus-buttons {
  position: absolute;
  top: 180px; 
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.app-bar, .digital-clock, .tram-bus-buttons {
  position: absolute;
  transition: opacity 1s ease-in-out; 
}

.faded {
  opacity: 0; 
  transition: opacity 0.5s; 
}


