
@import './bootstrap';

@font-face {
  font-family: 'Anticfont';
  src: url('../fonts/AnticDidone-Regular.ttf');
}

:root {
  --color-black: #000000;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  color: white;
  background-color: black;
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--color-black));
}

a {
  color: inherit;
  text-decoration: none;
}



/*
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */
