
.button-container{
  display: flex;
  gap: 16px;
  margin-top: 10px;
  justify-content: right;
  transform: translateX(-60px);
}

.button {
  color: inherit;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 16px;
  font-size: 16px;
  text-transform: uppercase;
  font-family: 'Anticfont';
}