
.digital-clock {
  position: absolute;
  top: 140px;
  left: 50%;
  transform: translateX(-50%);
}

.home-buttons {
  position: absolute;
  top: 400px;
  left: 50%;
  transform: translateX(-50%);
}

