.map-container{
    position: absolute;
    width: 250px;
    height: 250px;
    margin-left: 650px;
    margin-top: -90px;
    overflow: hidden;
    border-radius: 5%;
    box-shadow: 0 0 5px 2px hsl(0, 0%, 100%);
}
