
.clock-container {
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .clock {
    color: hsl(0, 0%, 100%);
    font-size: 8rem;
    font-weight: bold;
    font-family: 'Anticfont';
  }


.clock-container-2 {
    width: 100%;
    padding: 120px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
.clock-2 {
    color: hsl(0, 0%, 0%);
    font-size: 8rem;
    font-weight: bold;
    font-family: 'Anticfont';
    text-shadow: 0px 150px 4px hsl(0, 0%, 100%);
    transform: scaleY(-1);
  }
  